.htaccess
wp-*.php
xmlrpc.php
wp-admin/
wp-includes/
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
sitemap.xml
sitemap.xml.gz
readme.html
license.txt

# ignore OSX dsstore file
.DS_Store
# ignore UNIX backups
*~

# ignore plugins, except for the ones we specify
wp-content/plugins/*
# !wp-content/plugins/ourbadassplugin1
# !wp-content/plugins/ourbadassplugin2
# !wp-content/plugins/ourbadassplugin3
# ...

# ignore themes, except for the ones we specify
wp-content/themes/*
# !wp-content/themes/ourbadasstheme1
# !wp-content/themes/ourbadasstheme2
# !wp-content/themes/ourbadasstheme3
# ...

# not sure if we'll need to modify these, ignore for now
index.php
wp-content/index.php
